[Unit]
# This unit runs to create and format the LUKS scratch partition
Description=Create LUKS Scratch Partition
Before=kata-agent.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/create-scratch.sh

[Install]
WantedBy=sysinit.target