[Unit]
Description=Apply dm-verity Root Protection from initdata
After=process-user-data.service
Before=kata-agent.service
ConditionPathExists=/var/run/peerpod/initdata

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/apply-dmverity.sh
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target